@import "../fonts";
@import "../template";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$colorbtn: #728bad;
$marginform: 0px 2% 10px 20px;
$text-color: #F5F5F5;
$table-line: 1px solid rgba(142, 57, 33, 0.37);

.title {
  @extend %title;
}
%table {
  background-color: #d9d9d9;
  border-radius: 40px;
}

.commoncontainer {
  width: 100%;
  background-image: url("/assets/img/price_img/rings_price.png");
  background-size: cover;
  background-color: rgba(33, 33, 33);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.visible-block{
  @media #{$desktop} {
    display: none;
  }
  @media #{$largedesktop} {
    display: none;
  }
}
.table {
  @extend %table;
}

.table-title {
  font-weight: bold;
  border-bottom: $table-line;
  @media #{$mobile} {
    padding-left: 2px;
  }

}

.table-clmn {
  border-bottom: $table-line;
}

.table-clmn3 {

  font-size: 1.2em;

  @media #{$mobile} {
    padding: 1px;
    max-width: 300px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
  }

  @media #{$mobile} {
    font-size: 14px;
  }

  border-bottom: $table-line;
}

.table1-last-row {
  grid-column: 1/5;
}

.table2-last-row {
  grid-column: 1/4;
}

.arrow {
  width: 40px;

  @media #{$mobile} {
    width: 10px;
  }
  @media #{$tablet} {
    width: 25px;
  }
}

#wrapper-arrow {
  width: 1%;
}

.block-pricelist {

  padding: 5% 0 5% 0;

  @media #{$mobile} {
    width: 390px;
  }

  &__title {
    margin-left: 8%;
    display: flex;
    justify-content: start;
    padding: 0 1% 0 1%;
  }

  &__wrapper {
    display: flex;
    justify-content: center;

  }

  &__table {

    display: grid;
    align-content: center;
    justify-content: center;

    grid-template-columns: 0.1fr 2fr 1.9fr 0.1fr;
    grid-template-rows: 3fr 2fr;

    @media #{$tablet} {
      column-gap: 3px;
      row-gap: 4px;
      border-radius: 20px;
    }

    column-gap: 2%;
    row-gap: 2%;
  }

  &__table-title {
    @extend %elements-text;
    font-weight: bold;
    padding-top: 1.4vh;
  }

  &__table-item {
    color: #1E0C06;
    font-size: 1.2em;
    @extend %elements-text;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    padding-top: 1.4vh;

    @media #{$desktop} {
      width: 100px;
    }

    @media #{$mobile} {
      font-size: 0.6em;
    }

    @media #{$tablet} {
      font-size: 1em;
      padding-top: 1vh;
    }
  }

  &__table1,
  &__table2,
  &__table3,
  &__table4 {
    background-color: #d9d9d9;
    border-radius: 30px;

    @media #{$mobile} {
      border-radius: 14px;
    }
  }

  &__wrapper-table1 {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1%;
    grid-template-rows: repeat(5, 1fr) 1vh;

    @media #{$mobile} {
      grid-template-columns: auto 1fr 1fr 1fr 1%;
      grid-template-rows: repeat(5, 1fr) 1vh;
    }
  }

  &__wrapper-table2 {

    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1%;
    grid-template-rows: repeat(5, 1fr) 1vh;
    @media #{$mobile} {
      grid-template-columns: 1fr auto auto 1%;
      grid-template-rows: repeat(5, 1fr) 1vh;
    }
    @media #{$tablet} {
      grid-template-columns: auto auto auto 1%;
      grid-template-rows: repeat(5, 1fr) 1vh;
    }
  }

  &__wrapper-table3 {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1%;
    grid-template-rows: repeat(3, 1fr) 1vh;

    @media #{$mobile} {
      grid-template-columns: auto 1fr 1fr 1fr 1%;
    }
    @media #{$tablet} {
      grid-template-columns: auto 1fr 1fr 1fr 1%;
    }
  }

  &__wrapper-table4 {

    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1%;
    grid-template-rows: repeat(3, 1fr) 1vh;

  }
}
