@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-package/Regular.eot");
  src: url("../assets/fonts/Inter-package/Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Inter-package/Inter Regular.woff2") format("woff2"), url("../assets/fonts/Inter-package/Inter Regular.woff") format("woff"), url("../assets/fonts/Inter-package/Inter Regular.ttf") format("truetype"), url("../assets/fonts/Inter-package/Inter Regular.svg#Inter Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E0D0;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-package/Inter Bold.eot");
  src: url("../assets/fonts/Inter-package/Inter Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Inter-package/Inter Bold.woff2") format("woff2"), url("../assets/fonts/Inter-package/Inter Bold.woff") format("woff"), url("../assets/fonts/Inter-package/Inter Bold.ttf") format("truetype"), url("../assets/fonts/Inter-package/Inter Bold.svg#Inter Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E0D0;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-package/Bold.eot");
  src: url("../assets/fonts/Montserrat-package/Montserrat Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat-package/Montserrat Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat-package/Montserrat Bold.woff") format("woff"), url("../assets/fonts/Montserrat-package/Montserrat Bold.ttf") format("truetype"), url("../assets/fonts/Montserrat-package/Montserrat Bold.svg#Montserrat Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
@font-face {
  font-family: "Playfair Display Medium";
  src: url("../assets/fonts/Playfair_Display-package/Display Medium.eot");
  src: url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.woff2") format("woff2"), url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.woff") format("woff"), url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.svg#Playfair Display Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
.background-price-page {
  background-image: url("/assets/img/price_img/Group 11.png");
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-about-page {
  background-image: url(/assets/img/about_img/Group\ 35.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-contact-page {
  background-image: url(/assets/img/contact_img/group-36.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-home-page {
  background-image: url(/assets/img/home_img/Group\ 9.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-gallery-page {
  background-image: url(/assets/img/gallery_img/Group\ 10.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.container-main {
  max-width: 1440px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222021 !important;
}

.title {
  font-family: "Playfair Display Medium";
  font-weight: 600;
  color: #F5F5F5;
  font-size: 90px;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 599px) {
  .title {
    font-size: 30px;
  }
}

img {
  max-width: 100%;
}

.table {
  background-color: #d9d9d9;
  border-radius: 40px;
}

.commoncontainer {
  width: 100%;
  background-image: url("/assets/img/price_img/rings_price.png");
  background-size: cover;
  background-color: rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .visible-block {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .visible-block {
    display: none;
  }
}

.table-title {
  font-weight: bold;
  border-bottom: 1px solid rgba(142, 57, 33, 0.37);
}
@media screen and (max-width: 599px) {
  .table-title {
    padding-left: 2px;
  }
}

.table-clmn {
  border-bottom: 1px solid rgba(142, 57, 33, 0.37);
}

.table-clmn3 {
  font-size: 1.2em;
  border-bottom: 1px solid rgba(142, 57, 33, 0.37);
}
@media screen and (max-width: 599px) {
  .table-clmn3 {
    padding: 1px;
    max-width: 300px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 400;
  }
}
@media screen and (max-width: 599px) {
  .table-clmn3 {
    font-size: 14px;
  }
}

.table1-last-row {
  grid-column: 1/5;
}

.table2-last-row {
  grid-column: 1/4;
}

.arrow {
  width: 40px;
}
@media screen and (max-width: 599px) {
  .arrow {
    width: 10px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .arrow {
    width: 25px;
  }
}

#wrapper-arrow {
  width: 1%;
}

.block-pricelist {
  padding: 5% 0 5% 0;
}
@media screen and (max-width: 599px) {
  .block-pricelist {
    width: 390px;
  }
}
.block-pricelist__title {
  margin-left: 8%;
  display: flex;
  justify-content: start;
  padding: 0 1% 0 1%;
  margin-bottom: 116px;
}
@media screen and (max-width: 599px) {
  .block-pricelist__title {
    margin-bottom: 57px;
  }
}
.block-pricelist__wrapper {
  display: flex;
  justify-content: center;
}
.block-pricelist__table {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 0.1fr 2fr 1.9fr 0.1fr;
  grid-template-rows: 3fr 2fr;
  -moz-column-gap: 2%;
       column-gap: 2%;
  row-gap: 2%;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .block-pricelist__table {
    -moz-column-gap: 3px;
         column-gap: 3px;
    row-gap: 4px;
    border-radius: 20px;
  }
}
.block-pricelist__table-title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  padding-top: 1.4vh;
}
.block-pricelist__table-item {
  color: #1E0C06;
  font-size: 1.2em;
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  padding-top: 1.4vh;
}
@media screen and (min-width: 1024px) {
  .block-pricelist__table-item {
    width: 100px;
  }
}
@media screen and (max-width: 599px) {
  .block-pricelist__table-item {
    font-size: 0.6em;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .block-pricelist__table-item {
    font-size: 1em;
    padding-top: 1vh;
  }
}
.block-pricelist__table1, .block-pricelist__table2, .block-pricelist__table3, .block-pricelist__table4 {
  background-color: #d9d9d9;
  border-radius: 30px;
}
@media screen and (max-width: 599px) {
  .block-pricelist__table1, .block-pricelist__table2, .block-pricelist__table3, .block-pricelist__table4 {
    border-radius: 14px;
  }
}
.block-pricelist__wrapper-table1 {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1%;
  grid-template-rows: repeat(5, 1fr) 1vh;
}
@media screen and (max-width: 599px) {
  .block-pricelist__wrapper-table1 {
    grid-template-columns: auto 1fr 1fr 1fr 1%;
    grid-template-rows: repeat(5, 1fr) 1vh;
  }
}
.block-pricelist__wrapper-table2 {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1%;
  grid-template-rows: repeat(5, 1fr) 1vh;
}
@media screen and (max-width: 599px) {
  .block-pricelist__wrapper-table2 {
    grid-template-columns: 1fr auto auto 1%;
    grid-template-rows: repeat(5, 1fr) 1vh;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .block-pricelist__wrapper-table2 {
    grid-template-columns: auto auto auto 1%;
    grid-template-rows: repeat(5, 1fr) 1vh;
  }
}
.block-pricelist__wrapper-table3 {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1%;
  grid-template-rows: repeat(3, 1fr) 1vh;
}
@media screen and (max-width: 599px) {
  .block-pricelist__wrapper-table3 {
    grid-template-columns: auto 1fr 1fr 1fr 1%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .block-pricelist__wrapper-table3 {
    grid-template-columns: auto 1fr 1fr 1fr 1%;
  }
}
.block-pricelist__wrapper-table4 {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1%;
  grid-template-rows: repeat(3, 1fr) 1vh;
}/*# sourceMappingURL=price.css.map */