@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-package/Regular.eot");
  src: url("../assets/fonts/Inter-package/Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Inter-package/Inter Regular.woff2") format("woff2"), url("../assets/fonts/Inter-package/Inter Regular.woff") format("woff"), url("../assets/fonts/Inter-package/Inter Regular.ttf") format("truetype"), url("../assets/fonts/Inter-package/Inter Regular.svg#Inter Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E0D0;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-package/Inter Bold.eot");
  src: url("../assets/fonts/Inter-package/Inter Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Inter-package/Inter Bold.woff2") format("woff2"), url("../assets/fonts/Inter-package/Inter Bold.woff") format("woff"), url("../assets/fonts/Inter-package/Inter Bold.ttf") format("truetype"), url("../assets/fonts/Inter-package/Inter Bold.svg#Inter Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E0D0;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-package/Bold.eot");
  src: url("../assets/fonts/Montserrat-package/Montserrat Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat-package/Montserrat Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat-package/Montserrat Bold.woff") format("woff"), url("../assets/fonts/Montserrat-package/Montserrat Bold.ttf") format("truetype"), url("../assets/fonts/Montserrat-package/Montserrat Bold.svg#Montserrat Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
@font-face {
  font-family: "Playfair Display Medium";
  src: url("../assets/fonts/Playfair_Display-package/Display Medium.eot");
  src: url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.woff2") format("woff2"), url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.woff") format("woff"), url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.svg#Playfair Display Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
.background-price-page {
  background-image: url("/assets/img/price_img/Group 11.png");
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-about-page {
  background-image: url(/assets/img/about_img/Group\ 35.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-contact-page {
  background-image: url(/assets/img/contact_img/group-36.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-home-page {
  background-image: url(/assets/img/home_img/Group\ 9.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-gallery-page {
  background-image: url(/assets/img/gallery_img/Group\ 10.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.container-main {
  max-width: 1440px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222021 !important;
}

.title {
  font-family: "Playfair Display Medium";
  font-weight: 600;
  color: #F5F5F5;
  font-size: 90px;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 599px) {
  .title {
    font-size: 30px;
  }
}

.elements-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #F5F5F5;
  font-style: normal;
}

.button {
  border-radius: 42px;
  background-color: #728bad;
  color: #f5f5f5;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 599px) {
  .title {
    font-size: 30px;
  }
}

.elements-text {
  text-decoration: none;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
@media screen and (max-width: 599px) {
  .elements-text {
    font-size: 20px;
    font-weight: 500;
  }
}

img {
  max-width: 100%;
}
@media screen and (max-width: 599px) {
  img {
    width: 347px;
    height: 230px;
  }
}

.contact {
  max-width: 1440px;
  width: 100%;
  min-height: 933px;
  display: flex;
  gap: 141px;
}
@media screen and (max-width: 1300px) {
  .contact {
    flex-direction: column;
    gap: 98px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .contact {
    flex-direction: column;
    gap: 98px;
    min-height: 645px;
  }
}
@media screen and (max-width: 599px) {
  .contact {
    flex-direction: column;
    gap: 49px;
    min-height: 539px;
  }
}
.contact__map {
  display: flex;
  align-items: center;
  margin-right: 32px;
  margin-bottom: 32px;
}
@media screen and (max-width: 1300px) {
  .contact__map {
    justify-content: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .contact__map {
    justify-content: center;
  }
}
@media screen and (max-width: 599px) {
  .contact__map {
    margin: 0 15px 0 15px;
  }
}

.contact-info {
  padding-left: 17%;
  padding-top: 12.5%;
}
@media screen and (max-width: 599px) {
  .contact-info {
    padding-left: 24px;
    padding-top: 23px;
  }
}
.contact-info__title-wrapper {
  height: 120px;
  margin-bottom: 118px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .contact-info__title-wrapper {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 599px) {
  .contact-info__title-wrapper {
    height: 40px;
    margin-bottom: 41px;
  }
}
.contact-info__tel {
  width: 350px;
  margin-bottom: 33px;
}
@media screen and (max-width: 599px) {
  .contact-info__tel {
    width: 250px;
    margin-bottom: 30px;
  }
}
.contact-info__address {
  width: 377px;
}
@media screen and (max-width: 599px) {
  .contact-info__address {
    width: 230px;
  }
}
.contact-info__address-text {
  max-width: 280px;
}
@media screen and (max-width: 599px) {
  .contact-info__address-text {
    width: 190px;
  }
}

.item {
  display: flex;
  gap: 14px;
  align-items: center;
}
@media screen and (max-width: 599px) {
  .item {
    gap: 10px;
    align-items: center;
  }
}

.contact-icon {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 599px) {
  .contact-icon {
    width: 32px;
    height: 32px;
  }
}/*# sourceMappingURL=contact.css.map */