@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-package/Regular.eot");
  src: url("../assets/fonts/Inter-package/Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Inter-package/Inter Regular.woff2") format("woff2"), url("../assets/fonts/Inter-package/Inter Regular.woff") format("woff"), url("../assets/fonts/Inter-package/Inter Regular.ttf") format("truetype"), url("../assets/fonts/Inter-package/Inter Regular.svg#Inter Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E0D0;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-package/Inter Bold.eot");
  src: url("../assets/fonts/Inter-package/Inter Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Inter-package/Inter Bold.woff2") format("woff2"), url("../assets/fonts/Inter-package/Inter Bold.woff") format("woff"), url("../assets/fonts/Inter-package/Inter Bold.ttf") format("truetype"), url("../assets/fonts/Inter-package/Inter Bold.svg#Inter Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E0D0;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-package/Bold.eot");
  src: url("../assets/fonts/Montserrat-package/Montserrat Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat-package/Montserrat Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat-package/Montserrat Bold.woff") format("woff"), url("../assets/fonts/Montserrat-package/Montserrat Bold.ttf") format("truetype"), url("../assets/fonts/Montserrat-package/Montserrat Bold.svg#Montserrat Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
@font-face {
  font-family: "Playfair Display Medium";
  src: url("../assets/fonts/Playfair_Display-package/Display Medium.eot");
  src: url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.woff2") format("woff2"), url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.woff") format("woff"), url("../assets/fonts/Playfair_Display-package/Playfair Display Medium.svg#Playfair Display Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
.background-price-page {
  background-image: url("/assets/img/price_img/Group 11.png");
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-about-page {
  background-image: url(/assets/img/about_img/Group\ 35.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-contact-page {
  background-image: url(/assets/img/contact_img/group-36.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-home-page {
  background-image: url(/assets/img/home_img/Group\ 9.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.background-gallery-page {
  background-image: url(/assets/img/gallery_img/Group\ 10.png);
  background-size: cover;
  background-color: rgb(33, 33, 33);
}

.container-main {
  max-width: 1440px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222021 !important;
}

.thewood__title-text, .title {
  font-family: "Playfair Display Medium";
  font-weight: 600;
  color: #F5F5F5;
  font-size: 90px;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .thewood__title-text, .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 599px) {
  .thewood__title-text, .title {
    font-size: 30px;
  }
}

.text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #f5f5f5;
  font-size: 30px;
  line-height: 139.4%;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 599px) {
  .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 599px) {
  .text {
    font-size: 15px;
  }
}

.thewood {
  margin-top: 30%;
}
.thewood__title {
  margin-left: 10%;
}
.thewood .thewood-wrapper {
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.thewood .thewood-wrapper__card {
  padding: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.thewood .thewood-wrapper__card-img {
  width: 205px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .thewood .thewood-wrapper__card-img {
    justify-content: center;
    width: 60%;
  }
}
@media screen and (max-width: 599px) {
  .thewood .thewood-wrapper__card-img {
    width: 35%;
  }
}
.thewood .thewood-card__title {
  color: #F5F5F5;
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding: 15%;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .thewood .thewood-card__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 599px) {
  .thewood .thewood-card__title {
    font-size: 17px;
  }
}
.thewood .thewood-card__card-img {
  padding: 5%;
}
.thewood .thewood-card__item {
  display: flex;
  align-items: flex-start;
}
.thewood .thewood-card__item-img {
  padding-right: 10px;
  display: flex;
  transform: translate(-30%, 40%);
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .thewood .thewood-card__item-img {
    transform: translate(-30%, 10%);
  }
}
@media screen and (max-width: 599px) {
  .thewood .thewood-card__item-img {
    transform: translate(-30%, 10%);
  }
}
.thewood .thewood-card__item-text {
  color: #F5F5F5;
  font-size: 30px;
  font-family: Inter, sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .thewood .thewood-card__item-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 599px) {
  .thewood .thewood-card__item-text {
    font-size: 18px;
  }
}/*# sourceMappingURL=materials.css.map */